/***************
 * General controls
 ***************/
QMainWindow
{
    background-color: rgb(30, 30, 30);
    font-family: "Arial";
}

QWidget
{
    color: rgb(205, 205, 205);
}

/****************** Menu ******************/
QMenu
{
     background-color: black;
     border: 1px solid gray;
 }

QMenu::item
{
   color: rgb(190, 190, 190);
   padding: 5px 20px 5px 20px;
   border: 1px solid transparent; /* reserve space for selection border */
}

QMenu::item:selected
{
    background: rgba(100, 100, 100, 150);
}

QMenu::icon:checked /* appearance of a 'checked' icon */
{
    background: gray;
    border: 1px inset gray;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
}

QMenu::separator
{
    height: 1px;
    background: rgb(190, 190, 190);
    margin-left: 0px;
    margin-right: 0px;
}

/****************** Scrollbar ******************/
QScrollBar
{
    background: rgb(50, 50, 50);
    border-radius: 6px;
}

QScrollBar::add-page, QScrollBar::sub-page
{
    background: rgb(70, 70, 70);
}

QScrollBar::add-page:hover, QScrollBar::sub-page:hover
{
    background: rgb(70, 70, 70);
}

QScrollBar:vertical
{
    margin: 15px 2px 15px 2px;
    border: 2px solid rgb(60, 60, 60);
}

QScrollBar:horizontal
{
    margin: 2px 15px 2px 15px;
    border: 2px solid rgb(60, 60, 60);
}

QScrollBar::handle
{
    background: rgb(25, 25, 25);
    border-radius: 3px;
}

QScrollBar::handle:horizontal
{
    margin: 0px -1px 0px -1px;
}

QScrollBar::handle:vertical
{
    margin: -1px 0px -1px 0px;
}

QScrollBar::sub-line,QScrollBar::add-line
{
     background-color: rgb(52, 52, 52);
     height: 13px;
     width: 13px;
}

QScrollBar::sub-line:vertical, QScrollBar::add-line:vertical
{
     subcontrol-position: top;
     subcontrol-origin: margin;
}

QScrollBar::add-line:vertical
{
     subcontrol-position: bottom;
}

QScrollBar::sub-line:horizontal, QScrollBar::add-line:horizontal
{
     subcontrol-position: left;
     subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal
{
     subcontrol-position: right;
}

/***************
 * Header
 ***************/
#header
{
    background-color: rgb(30, 30, 30);
    color: rgb(196, 196, 196);
    padding: 0px;
    font-size: 14px;
}

#header QPushButton
{
    color: rgb(90, 90, 90);
}

#header QPushButton[enabled="false"]
{
    color: rgb(50, 50, 50);
}

#header QPushButton[active="true"]
{
    color: rgb(195, 195, 195);
    border-bottom: 2px solid rgb(195, 195, 195);
}

#header QPushButton:pressed
{
    color: rgb(195, 63, 0);
}

#header QPushButton, #header QPushButton:pressed
{
    background-color: transparent;
    font-size: 15px;
    border: none;
    padding: 15px 0px 10px 0px;
}

#header QPushButton:hover
{
    border-bottom: 2px solid gray;
    padding: 15px 0px 8px 0px;
}

/***************
 * Subheaders
 ***************/
#subheader, #project_subheader
{
    background-color: rgb(38, 38, 38);
    border: 1px solid black;
}

#recents_shelf
{
    background-color: rgb(7, 7, 7);
}

#subheader #search_frame
{
    border-radius: 5px;
}

#subheader #search_frame[collapsed="false"]
{
    background-color: rgb(154, 154, 154);
}

#subheader #search_frame[collapsed="true"]
{
    background-color: transparent;
    /* background-color: rgb(154, 154, 154); */
}

#subheader #search_text
{
    color: rgb(38, 38, 38);
}

#subheader QWidget, #project_subheader QWidget, #recents_shelf QWidget
{
    background-color: transparent;
    color: rgb(205, 205, 205);
    font-size: 14px;
    border: none;
}

#project_button
{
    padding: 0px 8px 0px 0px;
}

#project_button::menu-indicator
{
    subcontrol-origin: padding;
    subcontrol-position: center right;
}

#subheader_label
{
    font-size: 18px;
}

/***************
 * Body - Project Browser
 ***************/

#project_subheader #project_name
{
    text-align: left;
}

#project_subheader #project_arrow, #project_subheader #project_icon
{
    padding: 15px 10px 15px 0px;
}

#project_subheader #project_menu
{
    background-color: rgb(52, 52, 52);
    border: none;
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
}

#project_menu::menu-indicator
{
    subcontrol-origin: content;
    subcontrol-position: center center;
}

#projects
{
    background-color: rgb(43, 46, 48);
    color: rgb(196, 196, 196);
    font-size: 14px;
    border: none;
}

#projects::item QFrame, #recent_projects::item QFrame
{
    background-color: transparent;
    color: rgb(196, 196, 196);
    border: none;
}

#recent_projects::item QFrame
{
    font-size: 12px;
}

/***************
 * Body - Project Page
 ***************/

#project_commands
{
    background-color: rgb(43, 46, 48);
    color: rgb(196, 196, 196);
}

/***************
 * Footer
 ***************/
#footer
{
    background-color: rgb(38, 38, 38);
}

#footer QPushButton, #footer QPushButton:pressed
{
    background-color: transparent;
    border: none;
    padding: 5px 10px 5px 5px;
    color: rgb(205, 205, 205);

}

#footer QPushButton::menu-indicator
{
    subcontrol-origin: padding;
    subcontrol-position: center right;
}
